

#unbias-pronouns * {
  font-family: ComfortaaBold, sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: white;
  border-bottom: none;
}

#unbias-pronouns #logo {
  margin-top: -5px;
}

#unbias-pronouns #your-bias {
  margin-bottom: 0px;
}

#unbias-pronouns #logo-aside{
  position:absolute;
  left:20px;
}
#unbias-pronouns {
  position:relative;
  background-color: rgb(51, 51, 51);
  font-weight: bold;
  font-style: normal;
  padding:3px;

}

#unbias-pronouns #pronoun-counts{
   display:inline-block;
   width:calc(100% - 105px);
   margin-left: 100px;
   margin-right: 5px;
   text-align:center;
}

#unbias-pronouns .pronoun-entry{
  display:inline-block;
  margin-left:5%;
  margin-right:5%;

}

#unbias-pronouns #logo {
  margin-top: -5px;
}

#unbias-pronouns #your-bias {
  margin-bottom: 0px;
}

#unbias-pronouns .my-text{
  margin-top: 0.2em;
}
