#unbias-pronoun-display{
  background-color:lightgreen;
  border:1px solid black;
  padding:5px;
}


#unbias-pronoun-display .unbias.pronoun-entry{
display:block;
 margin-left: 5px;
 margin-right: 5px;
}
