<div id="unbias-pronoun-container">
  <style>

    body * {
      font-family: ComfortaaBold, sans-serif !important;
      font-weight: bold;
      text-decoration: none;
      color: white;
      border-bottom: none;
    }

    #logo {
      margin-top: -5px;
    }

    #your-bias {
      margin-bottom: 0px;
    }
  </style>

  <div>
    <h1 id="your-bias" class="my-text">Your bias</h1>
    <p id="logo"><small>by unbias.cc</small></p>
  </div>

    {{#pronounCounts}}<div>
    <h2 class="my-text">{{identifier}} : {{count}} %</h2>
    </div>{{/pronounCounts}}

</div>
