<div id="unbias-pronouns">
  <style>

  </style>

  <div id="logo-aside">
    <h1 id="your-bias" class="my-text">Your bias</h1>
    <p id="logo"><small>by unbias.cc</small></p>
  </div>

  <div id="pronoun-counts">
    {{#pronounCounts}}
    <div class="pronoun-entry" title="{{fullPercentage}}%">
      <h2 class="my-text pronoun-percent">{{identifier}} : {{percentage}} %</h2>
      <p class="total pronoun-total">Total : {{count}}</p>
    </div>
    {{/pronounCounts}}
  </div>

</div>
